<!DOCTYPE HTML>
<HTML xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>TechShop</title>
        <meta charset="UTF-8"/>
        <link href="/css/menu.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        
        <header th:replace="plantilla/plantilla :: header" />
        
        <div class="contenido">
        <h2>Nuestros Artículos</h2>
        <div th:if="${articulos != null and !articulos.empty}">
            <table border="1">
                <thead>
                    <tr>
                        <th>Descripcion</th>
                        <th>Precio</th>
                        <th>Comprar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="articulo : ${articulos}">
                        <td th:text="${articulo.descripcion}"></td>
                        <td th:text="${articulo.precio}"></td>
                        <td><a th:href="@{/carrito/agregar/}+${articulo.idArticulo}">Agregar</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div th:if="${articulos == null or articulos.empty}">
            No tenemos articulos que mostrar...
        </div>
           <footer th:replace="plantilla/plantilla :: footer" />
        </div>
    </body>
</HTML>
